.asset-tag {
    width: 27px;
    margin-right:1px;
    color:#fff;
    &.Poor {
        color:red;
    }
    &.Moderate {
        color:rgb(238, 177, 65);
    }
    &.Good {
        color:rgb(67, 153, 67);
    }
    
    .st0 {
        fill:currentColor;
        stroke: #d0d0d0;
    }
    
}