.areas-grid-container {
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    .main-content {
        grid-column-start:2;
        grid-column-end:9;
    }
    .right-sidebar {
        grid-column-start:9;
        grid-column-end:10;
    }
}