.loading-container {
    display:flex;
    align-items:center;
    flex-direction: column;

    .loading-text {
        margin-top:12px;
    }

    .dot-spinner {
        margin: 2px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        animation: dot-spinner-spin 1s linear infinite;
        
        border-top: 2px dotted var(--dot-spinner-inner-color, rgba(0, 0, 0, 1));
    }
}



@keyframes dot-spinner-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}