
.document-type-info {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    .flip-switch {
        display:flex;
        justify-content: flex-end;
        padding-right:10px;
        padding-top:10px;
        font-size:12px;
    }
    .document-type-name {
        font-family: 'Roboto', sans-serif !important;
        font-size:28px;
        color: #6cbaff;
        font-weight:200;
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }
    .document-type-count {
        font-family: 'Open Sans Condensed', sans-serif;
        text-align:center;
        font-size:24px;
    }

    .header {
      display:flex;
      background:#303031;
      font-family: 'Roboto', sans-serif !important;
      .tile-information {
        display:flex;
        flex-direction: row;
        width:100%;
        padding-left:10px;
        .entity-type {
            flex:7;
            color:rgb(216, 216, 216);
            font-size:18px;
            text-transform: capitalize;
            font-weight: 300;
            svg {
                padding-right:3px;
                padding-top:5px;
            }
        }
        .chevron {
            padding-right:5px;
            display:flex;
            align-items: center;
            justify-content: center;
            flex:1;
        }
      }
      .status-icon-container {
        flex:1;
        .status-icon {
            width:100%;
            padding:10px;
            background:black;
        }
      }
    }
    .main-tile {
        display:flex;
        justify-content: center;
        align-items:center;
        height:100%;
        font-family: 'Roboto', sans-serif !important;
        .icon {
            width:100%;
            height:100%;
            padding-bottom:25px;
        }
        .title-panel {
        display:flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        .details-panel {
            flex:7;
            color:#B2AFBA;
            .name {
                padding-left: 10px;
                padding-right:10px;
                text-align: center;
                font-weight:200;
                flex:7;
                font-size:14px;
                text-transform: capitalize;
            }
            .detail {
                font-weight:200;
                padding-left:15px;
            }
        }
        .icon-count {
            flex:1;
            background-color:#DBDBDB;
            color:#303031;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding:5px;
            font-family: 'Roboto', sans-serif !important;
            .icon {
            }
            .text {
                font-weight:300;
            }
        }
        }
        .text-counts {
            display:flex;
            flex-direction: row;
            background-color:#EDEDEC;
            .status-icon-container {
                padding:10px;
                width:30%;
                .status-icon {
                    svg {
                        width:50px;
                        height:50px;
                    }
                }
            }
            .count-items-container {
                display:flex;
                flex-direction: column;
                width:100%;
                padding-top:10px;
                .placeholder-container {
            .placeholder-count-item {
                padding:10px;
                margin-right:20px;
                border-bottom: 2px solid #DBDCDB;
            }
        }
            .count-item {
                display:flex;
                flex-direction: row;
                align-items: center;
                padding-left: 10px;
                margin-right:20px;
                border-bottom: 2px solid #DBDCDB;
                font-family: 'Roboto', sans-serif !important;
                color:#303031;
                .description {
                    font-size:14px;
                    font-weight:300;
                }
                .count {
                    font-weight: 100;
                }
            }
            }
        }
    }

    .main-tile-back {
        font-family: 'Roboto', sans-serif !important;
        .title {
            text-align: center;
            color:white;
            font-size:20px;
            text-transform: uppercase;
            font-weight: 400;
        }
        .subtitle {
            text-align: center;
            color: #509881;
            font-weight:300;
            font-size:14px;
            text-transform: capitalize;
        }
        .breakdown-item {
            font-weight: 200;
            display:flex;
            justify-content: space-between;
            padding: 0 15px;
            .breakdown-title {
                font-size:15px;
            }
            .breakdown-count {
                font-weight:400;
            }
        }
        padding-bottom:20px;
    }

    .button-bar {
        display:grid;
        grid-template-columns: repeat(5, auto);
        background-color:#4A4F5F;
        color:white;
        border-radius:0px 0px 20px 20px;
        .action-button { 
            padding:5px 0;
            display:flex;
            justify-content: center;
            align-items:center;
            
            border-right: 1px solid #383F4F;
            svg {
                padding:2px;
            }
        }
        .action-button:first-child  { 
            border-left:none;
        }
           .action-button:last-child  { 
            border-right:none;
        }
    }

}

.last-modi {   
    background-color:#EDEEEC;
    padding-left:10px;
    color:rgb(53, 36, 36);
    font-weight:200;
    font-family: 'Roboto', sans-serif !important;
    padding-bottom: 10px;
    .last-modified-title {
        padding-top:10px;
        font-size:18px;
        padding-bottom:5px;
        color: #161616;
    }

    .last-modified-labels {
        margin-right:12px;
        font-size:15px;
        display:flex;
        justify-content: center;
        align-items:center;
    }

    svg {
        margin-right:5px;
    }

    .updated-row {
        display:flex;
        flex-direction:row;
    }
}

.hardcoded-activity-box {
    img {
   
    }
    left:20%;
    position:absolute;
    z-index: 3;
    font-family: 'Roboto', sans-serif !important;
    .tasks {
        .task {
            
        }
    }
    .header-bar {
    flex:7;
    color:#f8c023;
    font-size:18px;
    text-transform: capitalize;
      background-color:#303031;
      height:30px;
      padding: 5px 10px;
    }
}