.measurementPointContainer {
    color: white;
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    .pointArrowContainer {
        margin-top:25px;
        border-bottom: 1px solid #666973;
        .measurementPoint {
            display:flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom:5px;
            text-align:center;
            .dataPoint {
                    display:flex;
                    flex-direction: column;
                    margin-right:10px;
                    margin-left:10px;
                    margin-bottom:5px;
                    .title {
                        color: #ceb400;
                        font-family: "Open Sans", sans-serif;
                        text-transform: uppercase;
                        font-weight:600;
                        font-size:11px;
                    }
                }
        }
    }
    .distance-and-arrow {
        display:flex;
        justify-content: center;
        i {
            margin-left:5px; 
            font-size:20px;
            margin-bottom:20px;
            justify-content: center;
        }
    }
}