.tab-container {
    margin-right:5px;
    padding:10px;
    color:#fff;
    font-size:14px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &:hover {
        background: black;    
        // .dropdown-options-container {
        //     visibility:visible;
        // }
    }
    &.active {
        border-bottom: 4px solid #fff;
        color:white;
        padding-bottom:4px;
    }
}
.dropdown-options-container {
    //visibility: hidden;
    background: #2f2f2f;
    width:auto;
    left:0px;
    position: absolute;
    top:100%;
    z-index:2;

    .dropdown-option { 
        display:flex;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:20px;
        padding-right:20px;
        border-bottom:1px solid #666973;
        white-space: nowrap;
        &:last-child{
            border: 0;
        }
        &:hover {
            background: rgb(32, 32, 32);
        }
    }
}