.tags-grid-container {
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    .main-content {
        grid-column-start:2;
        grid-column-end:9;
    }
    .right-sidebar {
        grid-column-start:9;
        grid-column-end:10;
    }
}

.TagVeryLow, .TagVeryGood {
    background:#5BEA55 !important;
    color:white !important;
}

.TagHigh, .TagPoor {
    background:#E27365 !important;
    color:white !important;
}

.TagLow, .TagGood {
    background:rgb(72, 255, 0) !important;
    color:white !important;
}

.TagMedium, .TagModerate {
    background: #F9B559 !important;
    color:white !important;
}

.TagVeryHigh, .TagVeryPoor {
    background:#C50000 !important;
    color:white !important;
}