.feedback-icon {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    color:green;
    font-size:48px;
}

.feedback-message {
    color:black;
    font-size:24px;
}