details {
    summary {
        color: white;
        text-align: left;
        padding: 10px 20px;
        border-bottom: 1px solid #fff;
        font-family: 'Roboto';
        background-color: rgb(97, 115, 138);
        cursor: pointer;
    }
}