@import "../../../../../node_modules/react-toggle-switch/dist/css/switch.min.css";
.layer-title {
    color: #cccccc;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight:600;
    font-size:11px;
    margin-top:20px;
    margin-bottom:15px;
}

.bathymetry-title {
    display:flex;
    flex-direction: column;
    align-self:center;
}

.panel-title {
    color:white;
    font-weight:400;
    font-size:12px;    
    padding: 10px 24px;
    text-align:center;
    background: #2f484859;
    border-top: 1px solid #666973;
    border-bottom: 1px solid #666973;
}

.layer-container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:32px;
    border-bottom:1px solid #666973;
    .layer-content {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:0 25px;
        font-size:14px;
        font-weight:200;
        color: #ccc;
        
        .switch {
            width:37px;
            height:20px;
            &.on {
                .switch-toggle {
                    left:15px;
                }
            }
            .switch-toggle {
                width:20px;
                height:24px;
            }
        }
    }
}