.subsystems-grid-container {
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    .top-bar {
        grid-column-start:2;
        grid-column-end:10;
    }
    .left-side-bar {
        grid-column-start:1;
        grid-column-end:2;    
    }
    .main-content {
        grid-column-start:2;
        grid-column-end:9;
    }
    .right-sidebar {
        grid-column-start:9;
        grid-column-end:10;
    }
}

.selected-subsystem-title {
    min-height:80px;
}