.installation-hover-card {
  position: absolute;
  z-index: 1;
  width: 300px;
  border: 1px solid grey;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: rgba(51, 71, 92, 1);

  .installation-text-value {
    display: flex;
    padding-right: 10px;

    .installation-hover-card-heading {
      padding-right: 7px;
      font-weight: 200;
    }

    .installation-hover-card-value {
      font-weight: 600;
    }
  }

  .installation-hover-card-title {
    display: flex;
    border-bottom: 1px solid grey;
    padding-top: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
  }

  .installation-hover-card-body {
    padding: 0px 20px;

    .image-block-container {
      display: flex;
      border-bottom: 1px dotted grey;
      padding-bottom: 10px;

      .image {
        img {
          width: 100px;
          margin-top: 15px;
          border-radius: 10px;
        }
      }

      .text-block {
        padding-left: 20px;
        margin-top: 10px;
      }
    }

    .text-block-container {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px dotted grey;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

#cesiumContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.cesium-viewer-bottom {
  text-align: center;
}