.match-container {
    .match-heading{
        text-transform: uppercase;
        font-size:9px;
    }
    .heading-icon {
    display:flex;
    align-items:center;
    }
    .match-content-container {
        padding:15px;
        background-color: white;
        color:black;
        width:350px;
    }
            
}