.breadcrumb-container {
    display:block;
    padding: 10px 24px;
    border-bottom: 1px solid #666973;
    overflow-wrap: break-word;
    .crumb:last-of-type {
        .crumb-container {
            i {
                display:none;
            }
        }
    }
    .crumb {
        color:#ccc;
        font-weight:400;
        font-size:12px;
        transition: color 0.3s ease-out;
        display:inline-block;
        .crumb-container {
            display:flex;
            flex-direction: row;
            align-items:center;
            padding-bottom:5px;
            i {
                padding-left:3px;
                padding-right:3px;
                font-size:6px;
            }
                   
        .crumb-description {
            display:flex;
            flex-direction: column;
            justify-content: center;
            text-align:center;
            width:70px;
        }
        .crumb-name {
            font-size:11px;
        }
        .crumb-title {
            font-size:11px;
            color: white;

        }
        &:hover {
            color: white;
        }
    }
    }
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
