.details-panel-container {
    color: #fff;
    text-align:center;
    padding-top:15px;
    button { 
        i {
            padding-right:7px;
        }
    }
    .selected { 
        padding-bottom:15px;
        border-bottom: 1px solid rgba(243, 201, 201, 0.11);
    }
    .download-button {
        padding: 0 20px;
        margin-top:15px;
    }

    .file-details-container {
        text-align:left;
    }
}