.ReactTable-container {
    width:100%;
    display:flex;
    justify-content: center;
}

.table-installation-title {
    width:100%;
    display:flex;
    align-items:center;
    .table-installation-image {
        img {
            min-width:75px;
            max-width:75px;
            height:40px;
            object-fit: cover;
        }
    }
    p {
        padding-left:15px;
    }

    i {
        font-size:18px;
        color: #5B5963;
        margin-left:auto;
    }
}

.ReactTable {
    min-width:300px;
    border:none;
    .rt-table { 
        color:white;
        background-color:#252B38;
    }
    .rt-thead {
        border-bottom: 1px solid #313747;
        padding:5px 0;
        .rt-th.-sort-asc {
            box-shadow: inset 0 3px 0 0 rgba(255, 255, 255, 0.315);
        }   
        .rt-th.-sort-desc {
            box-shadow: inset 0 -3px 0 0  rgba(130, 129, 168, 0.315);
        }
        .rt-th {
            border-color:rgba(130, 129, 168, 0.315);
           input {
               background: rgba(160, 149, 149, 0.301);
               color:white;
           } 
           .rc-slider {
               .rc-slider-rail {
                   background-color: #8a8a8a;
               }
               .rc-slider-track {
                   background-color: rgba(32, 38, 87, 0.753);
               }
            .rc-slider-handle-1 {
                background-color:#cacaca;
                border-color:rgba(32, 38, 87, 0.753);;
            }
            .rc-slider-handle-2 {
                background-color: #cacaca;
                border-color: rgba(32, 38, 87, 0.753);
            }
           }
        }
    }
    .rt-tbody {
        .rt-tr-group {
            border-bottom: 1px solid #313747;
            margin:0px 20px;
            padding:5px 0px;
            .rt-tr {
                .rt-td {                 
                    padding:0;   
                    text-transform: capitalize;
                    text-align:center;
                    display:flex;
                    justify-content: center;
                    align-items:center;
                }
            }
        }
    }
    .-pagination {
        background-color:rgba(65,68,80,.65);
        color:white;
        .-btn {
            color:white;
        }
    }
}


.button-bar {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding-left:10px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom:15px;
    background:#262B38;
    border: 1px solid rgba(243, 201, 201, 0.11);
    border-top:none;
    height:130px;
    border-bottom-right-radius: 20px;
    .backbutton { 
        color:white;
        padding-bottom:10px;
    }

    .outward-handle {
        color:white;
        font-size:20px;
    }
}
